<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<%= javascript_include_tag "chartkick" %>

<div class="stat-container">
  <h1>Statistics</h1>
  <% if current_user.badges %>
    <div class="badges">
      <ul>
        <% current_user.badges.each do |badge| %>
          <li>
            <%= image_tag(badge.custom_fields[:image])%>
            <div class="mt-3 description-badge">
              <%= badge.description%> <br>
              <%= badge.custom_fields[:advice] %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <p>Your clothes spent an average time of <h5><%= @lifetime%></h5> years in your closet</p>
    <br style="clear:both" />
  <%end %>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h4>Thrifted clothes ratio</h4>
      <%= pie_chart (@thrift_hash), height: "200px" %>
    </div>
    <div class="col-md-6 col-sm-12">
      <h4>Composition of your new clothes</h4>
      <%= pie_chart @composition_hash, height: "200px" %>
    </div>
    <div class="col-md-12 col-sm-12">
      <h4>What did you do with your old clothes ?</h4>
    </div>
    <%= pie_chart @status_hash, height: "200px" %>
  </div>
<br>
      <h4>Your behavior over time</h4>
      <%= line_chart @global_thrift_hash, label: "% of thrifted clothes", points: false, title: "Thrifted clothes ratio evolution" %>
      <h4>Where were your clothes made ?</h4>
      <%= geo_chart @products.group(:origin).count %>
</div>
